.carouselImageLargepc_4iqaiijhh8c {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
