.trend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 100px;
  /* height: 80%; */
}

.trend-item {
  /* flex: 1; */
  width: 30%;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.trend-image {
  overflow: hidden;
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: left;
  transition: all 1.7s ease-in-out;
}
.trend-image img {
  /* flex: 1; */
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.trend-image img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
}
.trend-image:hover .trend-text {
  visibility: visible;
  opacity: 1;
}
.trend-text {
  text-align: center;
  font-family: Poppins;
  line-height: 1.5;
  visibility: hidden;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* transition: all 3 ease-in-out; */
  /* font-weight: bold; */
}
.trend-now-button {
  background-color: white;
  color: black;
  padding: 5px 20px;
  transition: all 0.6s ease-in-out;
  font-size: 10px;
}
.trend-now-button:hover {
  background-color: black;
  color: white;
}
.trend-tagline {
  font-weight: bold;
  font-size: 1.2rem;
}
.trend-category {
  color: rgb(84, 84, 84);
  margin-top: 10px;
}
@media (max-width: 800px) {
  .trend-container {
    padding: 0 10px;
  }
  .trend-tagline {
    font-size: 0.7rem;
  }
  .trend-category {
    font-size: 0.7rem;
  }
  .trend-now-button {
    font-size: 0.5rem;
    width: 100%;
  }
  /* .trend-item {
    width: 40%;
  } */
}
@media (max-width: 400px) {
  .trend-item {
    width: 80%;
  }
}
